.idea
.out
Learn-Design-Patterns.iml
out/production/Learn-Design-Patterns/behavioral/patterns/iterator/ex1/Cars.class
out/
out/production/Learn-Design-Patterns/META-INF/Learn-Design-Patterns.kotlin_module
